<div class="container">

<div ng-if="ctrl.isSignedUp">
  <table>
    <tbody>
      <tr>
        <th>First Name:</th>
        <td>
          {{ctrl.user.firstName}}
        </td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td>
          {{ctrl.user.lastName}}
        </td>
      </tr>
      <tr>
        <th>Email Address:</th>
        <td>
          {{ctrl.user.emailAddress}}
        </td>
      </tr>
      <tr>
        <th>Phone Number:</th>
        <td>
          {{ctrl.user.phoneNumber}}
        </td>
      </tr>
      <tr>
        <th>Favourite Dish:</th>
        <td>
          {{ctrl.user.favouriteDish}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <menu-item menu-item="ctrl.favouriteDishDetails">
    </menu-item>
  </div>
</div>

<div ng-if="!ctrl.isSignedUp">
  Not Signed Up Yet.
  <a ui-sref="public.signup">Sign up Now!</a>
<div>

</div>
